*~
.idea/
/cache/*
!/cache/.htaccess
!/cache/index.html
/composer.phar
/config*.php*
/ext/*
/files/*
/images/avatars/gallery/*
/images/avatars/upload/*
/images/ranks/*
/install/schemas/schema.json
/language/*
!/language/en
/store/*
/styles/*
!/styles/prosilver
/styles/prosilver/theme/*/
!/styles/prosilver/theme/en
!/styles/prosilver/theme/images
!/styles/all
node_modules
/vendor
/vendor-ext/*
!/vendor-ext/.git-keep
/composer-ext.json
/composer-ext.lock
